.container h2 {
  text-align: center;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.card {
  width: 200px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid rgb(230,230,230);
  box-shadow:  0 5px rgba(230, 230, 230, 0.2);
  padding: 15px;
}

.card p {
  opacity: 0.4;
}

.card img {
  height: 100px;
}
