
.footer {
  background-color: #2C2B2B;
  padding: 40px;
  text-align: center;
}

.footer a {
  color: #1EDD88;
  font-size: 30px;
}

.footer a:hover {
  opacity: 0.5;
  transition: all .3s;
}

.footer p {
  color: #6B6C6C;
}
